/* Pranav Gandhi's stylesheet */

* {
    margin:0;
    padding:0;
    font-family:"Open Sans", Helvetica, Arial, sans-serif;
}

body {
    background:#ddd -webkit-linear-gradient(top, #fff 0%, #eee 200px);

}

#container {
    margin:auto;
    width:800px;
}

#head {
    margin:25px auto;
}

#head h1 span.currentpage {
    size:24px;
    color:#666;
}

.linklist {
    background:#333;
    padding:10px;
    border-radius:5px 5px 0 0;
    background: -webkit-linear-gradient(top, #f00 0%, #a00 100%);
    background: -moz-linear-gradient(top, #f00 0%, #a00 100%);
}

.linklist a {
    margin-right:25px;
    color:#fff;
}

a {
    color:#08c;
    text-decoration:none;
}

a:hover {
    text-decoration:underline;
}

#content {
    background:#fff;
    padding:25px;
    /*border:1px #ccc solid;*/
    border-radius:0 0 5px 5px;
}

#content p {
    color:#000;
}

blockquote {
    font-family:"Droid Serif", Arial, sans-serif;
    font-size:52px;
    color:#222;
    margin-bottom:25px;
}

#content li {
    list-style-position: inside;
}